.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    flex-direction: column;
    margin: 10% 30%;
    background-color: #f0f0f0; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    border-radius: 50px;

}

.add{
    background-color: green;
}

.subtrac {
    background-color: red;
}
