.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
}

.add{
    background-color: green;
}

.subtrac {
    background-color: red;
}